#collection-category-8 .category {
    padding-top: 60px;
    min-height: 190px;
  }
  
  .category-list .category {
    background-color: #FFF;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px,
                rgb(241, 243, 245) 0px 2px 10px 0px,
                rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 30px 30px 0;
    padding: 135px 50px 40px;
    min-height: 285px;
    transition: all 0.25s ease-in-out;
    width: 100%;
  }
  
  .category-list .category,
  .category-list .category:hover {
    background-repeat: no-repeat;
    background-position: center 36px;
    background-size: 80px 80px;
  }
  
  .category-list .category:hover {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px,
                rgba(220, 223, 226, 0.3) 0px 30px 60px 0px,
                rgba(0, 0, 0, 0.1) 0px 8px 20px 0px;
  }
  
  /*.category-list .category:active {
    box-shadow: 0 0 0px 2px #1292EE inset;
    outline: none;
  }*/
  
  .category-list .category:hover .article-count {
      color: #0077CC;
  }
  
  .category-list .category:focus .article-count, .category-list .category:active .article-count {
      color: #005CA4;
  }
  